.navbar-inverse {
	background-image: linear-gradient(to bottom,#3c3c3c 0,red 100%);
}
.container{
	width: 1300px;
}
.navLogo {
	float: left;
	width: 250px;
	height: 73px;
}
#navbar {
    width: 1270px;
    height: 70px;
	margin: 0 auto;
}
.navbar-nav {
	float: right;
	width: 900px;
}
.nav > li {
	float: right;
}
.navbar-inverse .navbar-nav>li>a {
    color: #DEDEDE;
}
/* .includeHeader {
	height : 100%;
	width : 100%;
	background-color: #FF6666;
} */